In [25]:
import csv
import sqlite3
# open the file

# create database
connection=sqlite3.connect('db_csv.db')
cursor=connection.cursor()

with open("train.csv", 'r') as csvfile:
# create the object of csv.reader()
    csv_file_reader = csv.reader(csvfile, delimiter=',')
    next(csv_file_reader)
    X   = ''
    
    Y1  = ''
    
    Y2  = ''
    
    Y3  = ''
    
    Y4  = ''
    
    #create a database table using sqlite
    Table_Query = '''CREATE TABLE if not Exists train
    (X Float, Y1 Float, Y2 Float, Y3 Float, Y4 Float)'''
    cursor.execute(Table_Query)

        
    #parse csv data
    for row in csv_file_reader:
        for i in range(len(row)):
            X=row[0]
            Y1=row[1]
            Y2=row[2]
            Y3=row[3]
            Y4=row[4]
            
        InsertQuery=f"""INSERT INTO csv_data VALUES
        ('{X}','{Y1}','{Y2}','{Y3}','{Y4}')"""
        cursor.execute(InsertQuery)
        connection.commit()

In [24]:
cursor=connection.cursor()

with open("ideal.csv", 'r') as csvfile1:
# create the object of csv.reader()
    csv_file_reader = csv.reader(csvfile1, delimiter=',')
    next(csv_file_reader)
    X   = ''
    Y1  = ''
    Y2  = ''
    Y3  = ''
    Y4  = ''
    Y5  = ''
    Y6  = ''
    Y7  = ''
    Y8  = ''
    Y9  = ''
    Y10  = '' 
    Y11  = ''
    Y12  = ''
    Y13  = ''
    Y14  = ''
    Y15  = ''
    Y16  = ''
    Y17  = ''
    Y18  = ''
    Y19  = ''
    Y20  = ''  
    Y21  = ''
    Y22  = ''
    Y23  = ''
    Y24  = ''
    Y25  = ''
    Y26  = ''
    Y27  = ''
    Y28  = ''
    Y29  = ''
    Y30  = ''  
    Y31  = ''
    Y32  = ''
    Y33  = ''
    Y34  = ''
    Y35  = ''
    Y36  = ''
    Y37  = ''
    Y38  = ''
    Y39  = ''
    Y40  = ''   
    Y41  = ''
    Y42  = ''
    Y43  = ''
    Y44  = ''
    Y45  = ''
    Y46  = ''
    Y47  = ''
    Y48  = ''
    Y49  = ''
    Y50  = ''
    
    
    #create a database table using sqlite
    Table_Query = '''CREATE TABLE if not Exists ideal
    (X Float, Y1 Float, Y2 Float, Y3 Float, Y4 Float, Y5 Float, Y6 Float, Y7 Float, Y8 Float, Y9 Float, Y10 Float,Y11 Float, Y12 Float, Y13 Float, Y14 Float, Y15 Float, Y16 Float, Y17 Float, Y18 Float, Y19 Float, Y20 Float, Y21 Float, Y22 Float, Y23 Float, Y24 Float, Y25 Float, Y26 Float, Y27 Float, Y28 Float, Y29 Float, Y30 Float, Y31 Float, Y32 Float, Y33 Float, Y34 Float, Y35 Float, Y36 Float, Y37 Float, Y38 Float, Y39 Float, Y40 Float,Y41 Float, Y42 Float, Y43 Float, Y44 Float, Y45 Float, Y46 Float, Y47 Float, Y48 Float, Y49 Float, Y50 Float)'''
    cursor.execute(Table_Query)

    #parse csv data
    for row in csv_file_reader:
        for i in range(len(row)):
            X=row[0]
            Y1=row[1]
            Y2=row[2]
            Y3=row[3]
            Y4=row[4]
            Y5=row[5]
            Y6=row[6]
            Y7=row[7]
            Y8=row[8]
            Y9=row[9]
            Y10=row[10]
            Y11=row[11]
            Y12=row[12]
            Y13=row[13]
            Y14=row[14]
            Y15=row[15]
            Y16=row[16]
            Y17=row[17]
            Y18=row[18]
            Y19=row[19]
            Y20=row[20]
            Y21=row[21]
            Y22=row[22]
            Y23=row[23]
            Y24=row[24]
            Y25=row[25]
            Y26=row[26]
            Y27=row[27]
            Y28=row[28]
            Y29=row[29]
            Y30=row[30]         
            Y31=row[31]
            Y32=row[32]
            Y33=row[33]
            Y34=row[34]
            Y35=row[35]
            Y36=row[36]
            Y37=row[37]
            Y38=row[38]
            Y39=row[39]
            Y40=row[40]
            Y41=row[41]
            Y42=row[42]
            Y43=row[43]
            Y44=row[44]
            Y45=row[45]
            Y46=row[46]
            Y47=row[47]
            Y48=row[48]
            Y49=row[49]
            Y50=row[50]
            
            
        InsertQuery=f"""INSERT INTO ideal VALUES
        ('{X}','{Y1}','{Y2}','{Y3}','{Y4}','{Y5}','{Y6}','{Y7}','{Y8}','{Y9}','{Y10}','{Y11}','{Y12}','{Y13}','{Y14}','{Y15}','{Y16}','{Y17}','{Y18}','{Y19}','{Y20}','{Y21}','{Y22}','{Y23}','{Y24}','{Y25}','{Y26}','{Y27}','{Y28}','{Y29}','{Y30}','{Y31}','{Y32}','{Y33}','{Y34}','{Y35}','{Y36}','{Y37}','{Y38}','{Y39}','{Y40}','{Y41}','{Y42}','{Y43}','{Y44}','{Y45}','{Y46}','{Y47}','{Y48}','{Y49}','{Y50}')"""
        cursor.execute(InsertQuery)
        
    
    connection.commit()

In [21]:
cursor=connection.cursor()

#create a database table using sqlite
Table_Query = '''CREATE TABLE if not Exists test
(X_test_func Float, Y_test_func Float, Delta_Y_test_func Float, No_of_ideal Float)'''
cursor.execute(Table_Query)

connection.commit()

In [ ]:
def main():